body {
  background-color: #232323;
  margin: 0; /* to get rid of margin space near header */
  font-family: "Montserrat", "Avenir";
}

.square {
  width: 30%;
  background: purple;
  padding-bottom: 30%; /* space between block and container */
  float: left; /* Moves blocks to same line */
  margin: 1.66%; /* margin between each block  */
  border-radius: 15%;
  transition: all 0.3s;
}

#container {
  max-width: 600px;
  margin: 0 auto; /* 0 for top and bottom, auto for left and right */
}

h1 {
  color: white; 
  /* color = text color */

  /* Align center */
  text-align: center;
  background: steelblue;
  margin: 0;
  font-weight: normal;
  text-transform: uppercase;
  line-height: 1.1;
  padding: 20px 0; /* to create space before and after text */
}

#pickedColor {
  font-size: 200%;
}

#message {
  display: inline-block; /* helps with spacing */
  width: 20%;
}
/* span {
  color: white;
} */

#stripe {
  background: white;
  height: 30px;
  text-align: center;
  color: black;
}

.selected {
  color: white;
  background: steelblue;
}

button {
  border: none;
  background: none;
  text-transform: uppercase;
  height: 100%; /* takes up 100% of containing element */
  font-weight: 700;
  color: steelblue;
  letter-spacing: 1px; /* kerning */
  font-size: inherit;
  transition: all 0.3s; /* all = all properties of button that change
                          2.0 is the num seconds of transition */
}

button:hover {
  color: white;
  background: steelblue;
}